@model CustomIdentity.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Paskyra";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>
    <ul class="nav nav-tabs" id="profileTabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#editProfile">Atnaujinti paskyrą</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#deleteProfile">Ištrinti paskyrą</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="editProfile">
            <form asp-action="Profile" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <button type="submit" style ="margin:auto;"class="btn btn-primary">Atnaujinti</button>
            </form>
        </div>

        <div class="tab-pane fade" id="deleteProfile">
            <h5 style="margin-top: 15px; ">Ištrinti paskyrą</h5>
            <p>Ar tikrai norite ištrinti paskyrą? Paskyros atnaujinti nebegalėsime.</p>
            <form asp-action="DeleteProfile" method="post">
                <button type="submit" class="btn btn-danger">Ištrinti paskyrą</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#profileTabs a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
}
