@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="map" style="height: 500px; width: 100%;"></div>
<form asp-action="SaveCoordinates" method="post">
    <input type="hidden" id="latitude" name="Latitude" />
    <input type="hidden" id="longitude" name="Longitude" />
    <button type="submit" class="btn btn-primary">Submit Coordinates</button>
</form>